# SEMANA 05
Emily Gomez Marcos :D

Temas:

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [ ]:
#5.1. Operadores Aritméticos
#Se tiene: +, -, *, /, //, **

In [8]:
numero1 =10
numero2 =3
suma = numero1 + numero2
resta = numero1 - numero2
producto = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
potencia = numero1 ** numero2
cociente = numero1 // numero2
print(suma)
print(resta)
print(producto)
print(division)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [9]:
#5.2. Operadores Asignación
#Se tiene: =, +=, -=, *=, /=, **=

In [15]:
numero = 5
numero = numero + 3
print(numero)

8

In [17]:
#La operación anterior, se puede realizar del siguiente modo:
numero = 5
numero += 3
print(numero)

8

In [22]:
numero = 5
numero -= 2
print(numero)

3

In [24]:
#Ejemplo:
numero = 5
numero **= 3
print(numero)

125

In [25]:
#5.3. Operadores de Comparación
#Se tiene: ==, <,>,<=,>=

In [26]:
#Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [27]:
#Con las cadenas funciona igual
nombre1 = "Emily"
nombre2 = "Emily"
nombre1 == nombre2

True

In [29]:
#5.3. Operadores Lógicos
#Se tiene: and, or, not

numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [30]:
numero1 < numero2

True

In [31]:
# el not invierte el resultado
not(numero1<numero2)

False

In [33]:
(numero1<numero2) and (numero3 <numero4)

True

In [34]:
#También puedes utilzar parentesis para ordenar tu operacion
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [35]:
#5.4. Operadores de pertenencia
#Se tiene: in, not in,

In [38]:
#Ejemplo:
aula= ["Juan", "Daniel", "Rubén"]
alumno1 = "Diego"
alumno2 = "Juan"

In [39]:
#¿Diego está en aula?
alumno1 in aula

False

In [40]:
#¿Juan está en aula?
alumno2 in aula

True

In [41]:
#¿Diego no está en aula?
alumno1 not in aula

True

In [42]:
#Juan no está en aula?
alumno2 not in aula

False

In [43]:
#5.4. Operadores de pertenencia
#Se tiene: is, is not

In [66]:
aula1 =["Juan", "Daniel", "Ruben"]
aula2 =["Juan", "Daniel", "Ruben"]

#Aula 3 va a compartir el mismo objeto que el aula 1

aula3 = aula1

In [67]:
#¿Aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [68]:
#¿Aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [69]:
aula3 == aula1

True

In [70]:
aula3 == aula2

True

In [59]:
aula1.append("Diego")

In [60]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [61]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [62]:
print(aula2)

['Juan', 'Daniel', 'Ruben']

In [63]:
aula3 == aula1

True

In [64]:
aula3 == aula2

False

In [72]:
aula3.append("Diego en 3")
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego en 3', 'Diego en 3']