# SEMANA 05

Emily Gomez Marcos :D

1. Colecicones de datos
2. Estructuras decisivas y repetitivas
3. Funciones
4. Clases y objetos

2. Estructuras decisivs y repetitivas

In [1]:
#2.1. Estrcuturas decisivas (if, elif, else)

In [2]:
# if
#problema: dado el precio de 3 prodyctos ingresaos por teclado, aplicar descuento de 10% si la venta es mayor o igual A 1000

In [3]:
#Solucion

P1 = float(input("Producto 1:"))
P2 = float(input("Producto 2:"))
P3 = float(input("Producto 3:"))

total = P1 + P2 + P3
if total>= 1000:
    total *= 0.9
    print(f"Total a pagar es: {total}")

Producto 1:250
Producto 2:250
Producto 3:600
Total a pagar es: 990.0

In [4]:
#if else

In [5]:
# Problema 01 (Recordando)
# Dado una lista de [ALANYA, ALVA, AZAÑERO, CARRASCO, CCACCYA, COSME, CUSI, DIAZ, FLORES, GOMEZ, GOMEZ, GRANADOS, HUANCAS, JULCA, LAURA,MOTTA,PINEDO,PONCE,QUINTANA,RODRIGUEZ,SERNA,VILCA,YAURICASA]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista

In [6]:
#Solucion

LP3 =["ALANYA"," ALVA", "AZAÑERO", "CARRASCO", "CCACCYA", "COSME", "CUSI", "DIAZ", "FLORES", "GOMEZ", "GOMEZ", "GRANADOS", "HUANCAS", "JULCA", "LAURA","MOTTA","PINEDO","PONCE","QUINTANA","RODRIGUEZ","SERNA","VILCA","YAURICASA"]
apellido = input("Ingrese nombre a buscar:")

#Como los datos están en mayúsculas, se usa upper()

if apellido.upper() in LP3:
    print("Si está en la lista de LP3")
else:
    print("No está en la lista de LP3")

Ingrese nombre a buscar:CERDAN
No está en la lista de LP3

In [7]:
# Problema 02
# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado, 
# categorizar que tipo de empleado es, considerando la siguiente tabla:

# Categoria: A -> [0, 1000]
# Categoria: B -> <1000, 2000]
# Categoria: C -> <2000, 5000]
# Categoría: D -> <5000, Mas]

# Tiempo asignado: 12 minutos

In [23]:
tventas = float(input("Ingrese total de ventas:"))

if ((tventas >= 0)and(tventas <=2000)):
    print(f" El empleado se encuentra en la categoría A")
elif ((tventas > 1000)and(tventas <=2000)) :
    print(f" El empleado se encuentra en la categoría B")
elif ((tventas > 2000)and(tventas<=5000)) :
    print(f" El empleado se encuentra en la categoría C")
elif (tventas > 5000):
    print(f" El empleado se encuentra en la categoría D")

Ingrese total de ventas:65465262.2541515
 El empleado se encuentra en la categoría D

In [24]:
#ESTRUCTURAS REPETITIVAS

In [25]:
#for

In [26]:
#Problema 01: Mostar los elementos de una lista utilizando for:

aula = ['Yauricasa', 'Granados', 'Alva', 'Laura']
#Por cada alumno que está en la lista, imprimir alumno

for alumno in aula:
    print(alumno)

Yauricasa
Granados
Alva
Laura

In [37]:
# Problema 02
#Dado una cadena ingresado por teclado, mostrar cada caractere de la lista usando for

cadena = input("Ingrese cadena: ")
for caracter in cadena:
    print(caracter)

Ingrese cadena: hola
h
o
l
a

In [31]:
#Para generar los rangos de los numeros se usa range()
range(5)

range(0, 5)

In [32]:
#Imprimir los números de 0 a 10, utilizando for
range(10)

range(0, 10)

In [36]:
for numeros in range(11):
     print(numeros)

0
1
2
3
4
5
6
7
8
9
10

In [39]:
#Problema 02
#Imprimir los números de 10 a 20
for numeros in range(10, 22, 2):
    print(numeros)

10
12
14
16
18
20

In [43]:
#Problema 03
#Dado una lista de números, utilizando el algoritmo de burbuja, ordenarlos de menor a mayor

lista =[10,20,5,-10,100, 0, 50, 17, 2000,-1000,0]
print(lista)

for i in range(1, len(lista)):
    for j in range(0, len(lista)-i):
        if (lista[j+1] < lista[j]):
            temp = lista[j]
            lista[j]=lista[j+1]
            lista[j+1]=temp

print(lista)

[10, 20, 5, -10, 100, 0, 50, 17, 2000, -1000, 0]
[-1000, -10, 0, 0, 5, 10, 17, 20, 50, 100, 2000]